<html>
<head>
    <title>NutriFacts</title>
</head>
<body>
    <!-- Header -->
    <div>
        <h1><a href="">NutriFacts - Full list</a></h1>
    </div>

    <!-- Products [products] -->
    {% for product in products %}
    <div>
        <p>Product: [ {{ product.name }} ]</p>
        <p>{{ product.manufacturer }}</p>
        <i>{{ product.barcode }}</i>
    </div>

    <!-- Nutri Facts [facts] -->
    <div>
        <p> {{ facts.servingSize }}     </p>
        <p> {{ facts.servingUM }}       </p>
        <p> {{ facts.servingQuantity }} </p>
        <p> {{ facts.servingQtdUm }}    </p>
        <p> {{ facts.footNote }}        </p>

    </div>

    <!-- Nutri Table [table] -->
    <div>

    </div>
    {% endfor %}

</body>
</html>
</html>