<html>
<head>
    <title>NutriFacts</title>
</head>
<body>
    <!-- Header -->
    <div>
        <h1><a href="">NutriFacts - Full list</a></h1>
    </div>

    <!-- Products [products] -->
    {% for prod in products %}
    <div>
        <hr>
        <p>Product: [ {{ prod.name }} ]</p>
        <p>{{ prod.manufacturer }}</p>
        <i>{{ prod.barcode }}</i>
    </div>
    <!-- Nutri Facts [facts] -->
    <div>
        <table>
            <tr>
                <th align="left"> Description </th>
                <th align="left"> Value 1.0 </th>
            </tr>


            {% for fact in prod.nutrifact_set.all %}
            <tr>
                <td> Size </td>
                <td> {{ fact.servingSize }} </td>
            </tr><tr>
                <td> Product </td>
                <td> {{ prod.id }} </td>
            </tr><tr>
                <td> UM </td>
                <td> {{ fact.servingUM }} </td>
            </tr><tr>
                <td> Quantity </td>
                <td> {{ fact.servingQuantity }} </td>
            </tr><tr>
                <td> UM </td>
                <td> {{ fact.servingQtdUm }} </td>
            </tr><tr>
                <td> Foot note </td>
                <td> {{ fact.footNote|linebreaksbr }} </td>
            </tr>
            {% endfor %}

            {% for tab in prod.nutritable_set.all %}
            <tr>
                <td> Component </td>
                <td> {{ tab.componentID }} </td>
            </tr>
            {% endfor %}


        </table>
    </div>

    <!-- Nutri Table [table] -->
    <div>

    </div>
    {% endfor %}

</body>
</html>
</html>